Repository gazebosim/gz-cmake, pull requests merged in 2022-05, with the labels that each got.

#246 Support project names starting with gz-
  cmake/IgnConfigureProject.cmake
Labels: 🌱 garden, ign to gz

#245 [ign ➡️ gz] Internal parsed variables
  cmake/IgnCodeCoverage.cmake
  cmake/IgnConfigureBuild.cmake
  cmake/IgnConfigureProject.cmake
  cmake/IgnCreateDocs.cmake
  cmake/IgnImportTarget.cmake
  cmake/IgnManualSearch.cmake
  cmake/IgnPackaging.cmake
  cmake/IgnPkgConfig.cmake
  cmake/IgnSetCompilerFlags.cmake
  cmake/IgnUtils.cmake
Labels: 🌱 garden, ign to gz

#248 [ign to gz] Update documentation to gazebosim.org
  cmake/ignition-config.cmake.in
  cmake/upload_doc.sh.in
  doc/doxygen/api.in
  doc/doxygen/header.html
Labels: documentation, 🏰 citadel, 🏯 fortress, Gazebo 1️1️, ign to gz

#247 [ign ➡️ gz] Internal functions
  CMakeLists.txt
  cmake/FindIgnOGRE.cmake
  cmake/IgnBenchmark.cmake
  cmake/IgnCodeCheck.cmake
  cmake/IgnCodeCoverage.cmake
  cmake/IgnConfigureBuild.cmake
  cmake/IgnConfigureProject.cmake
  cmake/IgnCreateDocs.cmake
  cmake/IgnGenerateVersionInfo.cmake
  cmake/IgnImportTarget.cmake
  cmake/IgnManualSearch.cmake
  cmake/IgnPackaging.cmake
  cmake/IgnPkgConfig.cmake
  cmake/IgnSetCompilerFlags.cmake
  cmake/IgnUtils.cmake
Labels: ign to gz

#252 Remove deprecated CMake functions
  cmake/IgnUtils.cmake
Labels: 🌱 garden, ign to gz

#253 Deprecate ign_create_docs, ign_create_packages, ign_configure_build
  CMakeLists.txt
  Migration.md
  cmake/IgnConfigureBuild.cmake
  cmake/IgnCreateDocs.cmake
  cmake/IgnPackaging.cmake
  examples/comp_deps/CMakeLists.txt
  examples/core_child/CMakeLists.txt
  examples/core_child_private/CMakeLists.txt
  examples/core_nodep/CMakeLists.txt
  examples/core_nodep_static/CMakeLists.txt
  examples/core_static_child/CMakeLists.txt
  examples/ign_conf/CMakeLists.txt
  examples/no_ignition_prefix/CMakeLists.txt
  examples/prerelease/CMakeLists.txt
  examples/sanitizers/CMakeLists.txt
  examples/use_component_depsA/CMakeLists.txt
  examples/use_component_depsB/CMakeLists.txt
  examples/use_component_depsC/CMakeLists.txt
  examples/use_config_ifp/CMakeLists.txt
Labels: 🌱 garden, ign to gz

#254 Deprecate ign_build_tests, ign_get_libsources_and_unittests, ign_get_sources, ign_install_all_headers
  cmake/IgnUtils.cmake
  examples/comp_deps/src/CMakeLists.txt
  examples/core_child/src/CMakeLists.txt
  examples/core_child_private/src/CMakeLists.txt
  examples/core_nodep/src/CMakeLists.txt
  examples/core_nodep_static/src/CMakeLists.txt
  examples/core_static_child/src/CMakeLists.txt
  examples/no_ignition_prefix/include/no_ign/CMakeLists.txt
  examples/no_ignition_prefix/src/CMakeLists.txt
  examples/sanitizers/src/CMakeLists.txt
  examples/use_component_depsA/src/CMakeLists.txt
  examples/use_component_depsB/src/CMakeLists.txt
  examples/use_component_depsC/src/CMakeLists.txt
Labels: 🌱 garden, ign to gz

#256 ign -> gz Namespace Migration : gz-cmake
  Migration.md
  doc/doxygen/api.in
  examples/comp_deps/src/AlmostEmpty.cc
  examples/core_nodep/src/AlmostEmpty.cc
  examples/core_nodep_static/src/AlmostEmpty.cc
  include/ignition/utilities/SuppressWarning.hh
  include/ignition/utilities/detail/SuppressWarning.hh
Labels: 🌱 garden, ign to gz

#255 Deprecate ign_manual_search, ign_create_packages, ign_create_core_library
  cmake/FindAVCODEC.cmake
  cmake/FindAVDEVICE.cmake
  cmake/FindAVFORMAT.cmake
  cmake/FindAVUTIL.cmake
  cmake/FindSWSCALE.cmake
  cmake/FindUUID.cmake
  cmake/IgnManualSearch.cmake
  cmake/IgnPackaging.cmake
  cmake/IgnUtils.cmake
  examples/comp_deps/src/CMakeLists.txt
  examples/core_child/src/CMakeLists.txt
  examples/core_child_private/src/CMakeLists.txt
  examples/core_nodep/src/CMakeLists.txt
  examples/core_nodep_static/src/CMakeLists.txt
  examples/core_static_child/src/CMakeLists.txt
  examples/no_ignition_prefix/src/CMakeLists.txt
  examples/prerelease/src/CMakeLists.txt
  examples/use_component_depsA/src/CMakeLists.txt
  examples/use_component_depsB/src/CMakeLists.txt
  examples/use_component_depsC/src/CMakeLists.txt
Labels: 🌱 garden, ign to gz

#259 Merge ign-cmake2 ➡️ main
  cmake/ignition-config.cmake.in
  cmake/upload_doc.sh.in
  doc/doxygen/api.in
  doc/doxygen/header.html
Labels: 🌱 garden

#260 ign -> gz Namespace Migration (2) : gz-cmake
  CONTRIBUTING.md
  Changelog.md
  Migration.md
  README.md
  cmake/FindUUID.cmake
  doc/doxygen/api.in
  examples/comp_deps/src/AlmostEmpty.cc
  examples/core_nodep/src/AlmostEmpty.cc
  examples/core_nodep_static/src/AlmostEmpty.cc
  examples/no_ignition_prefix/src/AlmostEmpty.cc
  include/ignition/utilities/ExtraTestMacros.hh
  include/ignition/utilities/SuppressWarning.hh
  include/ignition/utilities/detail/ExtraTestMacros.hh
  include/ignition/utilities/detail/SuppressWarning.hh
  tools/doc_check.sh
  tutorials.md.in
  tutorials/developing_with_ign-cmake.md
  tutorials/index.md
  tutorials/install.md
Labels: 🌱 garden, ign to gz

#261 Add scpeters as code owner
  .github/CODEOWNERS
Labels: 🏰 citadel, 🏯 fortress, Gazebo 1️1️

#251 Add LTCG flag on Windows builds
  cmake/IgnSetCompilerFlags.cmake
Labels: 🏰 citadel, 🏯 fortress, Gazebo 1️1️

#263 [ign -> gz] Migrate more internal variables
  CMakeLists.txt
  cmake/Export.hh.in
  cmake/FindIgnBullet.cmake
  cmake/FindIgnCURL.cmake
  cmake/FindOptiX.cmake
  cmake/IgnConfigureBuild.cmake
  cmake/IgnCreateDocs.cmake
  cmake/IgnPackaging.cmake
  cmake/IgnUtils.cmake
  cmake/ignition-all-config.cmake.in
  cmake/ignition-component-config.cmake.in
  cmake/ignition-config.cmake.in
Labels: 🌱 garden, ign to gz
